body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2b68c4;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container{
    background: #fff;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    text-align: center;
    box-shadow:0 0 10px rgba(0 ,0, 0, 0.1) ;

}

#question-number{
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: bold;
}

#question{
    font-size: 1.2em;
    margin-bottom: 20px;
}

.options{
    display: flex;
    flex-direction: column;
}

.option{
    background-color: #9e7a2c;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.option:hover{
    background-color: rgb(116, 24, 108);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#next-btn{
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#next-btn:hover{
   background-color: #218838 ; 
}

.hide{
    display: none;
}